*{
    margin: 0;
    padding: 0;
}

.main_heading{
    margin-bottom: 50px;
}
.card_container{
    margin-top: 60px;
    
}

.card_row{
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.table-responsive{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.table_content{

    width: 90% !important;
}