*{
    margin: 0;
    padding: 0;
}

.main_heading{
    margin-bottom: 50px;
}
.card_container{
    margin-top: 60px;
    
}

.card_row{
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.lower_container{
    display: flex;
    justify-content: center;
    /* background-color: black; */
}
.row{
    width: 90% !important;
}
.card{
/* background-color: black !important; */
    height: 40vh !important;
}

.card_weather{
    display: flex;
    /* background-color: brown; */
}
.card_weather_left{
    /* background-color: aqua; */
 width: 50%;
 text-align: center;
}
.card_weather_right{
    /* background-color: aqua; */
 width: 50%;
 text-align: center;
}

.span_custom{
    /* margin-left: 40px; */
    display:block;
}